<p id="notice"><%= notice %></p>

<div class="col-md-10 col-md-offset-1">
	<h2><%= link_to @link.title, @link.url %></h2>

	<p>
	  <strong>Author:</strong>
	  <%= @link.user.name %>
	</p>
	<p>
	  <strong>Submitted:</strong>
	  <%= time_ago_in_words(@link.created_at) %>
	</p>

	<% if current_user and current_user == @link.user %>
		<div class="btn-group" role="group" aria-label="...">
			<%= link_to 'Edit', edit_link_path(@link), class: 'btn btn-default'%>
			<%= link_to 'Delete', @link, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-default' %>
		</div>
	<% end %>

	<div class="btn-group pull-right" role="group" role="toolbar" >
		<%= link_to like_link_path(@link), method: 'put', class: 'btn btn-default' do %>
			<span class="glyphicon glyphicon-thumbs-up"></span>
			<%= @link.cached_votes_up %>
		<% end %>
		<%= link_to dislike_link_path(@link), method: 'put', class: 'btn btn-default' do %>
			<span class="glyphicon glyphicon-thumbs-down"></span>
			<%= @link.cached_votes_down %>
		<% end %>
	</div>

</div>
